.App {
  margin-top: 60px;
  /* background: rgb(245, 240, 240); */
  height: 100vh;
}

/* my tooltip css begin */
.myRect {
  pointer-events: all;
  fill-opacity: 0;
  stroke-opacity: 0;
  z-index: 1;
}

.tooltip {
  position: absolute;
  padding: 10px;
  background-color: steelblue;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  display: block;
  opacity: 0.75;
}
/* my tooltip css end */

.top-side-label {
  font-size: 50px;
  font-family: bold, sans-serif;
}
.row-border {
  border-bottom: 1px solid #000;
  border-bottom-color: blue;
}

.inoteqia-label {
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bolder;
  color: rgb(4, 4, 98);
}
input::placeholder {
  font-size: 14px;
}

.top-side-menu-icons {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-left: 20px;
}

.chart-title-div {
  background-color: #0d6efd;
  height: 35px;
}

.chat-title-label {
  color: white;
  font-family: sans-serif;
  margin-top: 5px;
}

.chart-div {
  background-color: white;
  height: auto;
}

.d3-tip {
  line-height: 1;
  font-size: 12px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
}